<div class="navbar">
    <div class="left-half">
        <a href="#" class="logo"></a>     
    </div>
    <div class="right-half">
        <div class="r-item">
            <input type="text" id="search-bar" spellcheck="false" placeholder="Search...">
        </div>
        <div class="r-item">
            <button class="nav-button" id="log-in-button">
                <a href="#">LOGIN</a>
            </button>
        </div>
        <div class="r-item">
            <button class="nav-button" id="sign-up-button">
                <a href="#">SIGN UP</a>
            </button>
        </div>
    </div>    
</div>

  

