<div class="header-wrapper">
  <div class="header">
    <div class="nav">
      <div class="logo" routerLink="/">
        <img src="../../../assets/Images/logo1.png" alt="app-logo">
      </div>
      <div class="nav-list-container">
        <ul class="nav-list">
          <li class="nav-item" routerLink="/">Home</li>
          <li class="nav-item" routerLink="/movies">Movies</li>
          <li class="nav-item">Categories <i class="pi pi-angle-down"></i></li>
        </ul>
      </div>
    </div>
    <div class="actions">
      <span class="action action-assist">Help</span>
      <div class="action-account">
        <ng-container *ngIf="!isLoggedIn; else member">
          <span class="action action-signin" routerLink="/account/login">Sign in</span>
          <span class="action action-signup">Sign up</span>
        </ng-container>
        <ng-template #member>
          <div #dropdownTrigger class="account-info-button" (click)="onAccountButtonClick()">
            <i class="pi pi-user"></i>
          </div>
          <app-account-dropdown
            [trigger]="dropdownTrigger"
            [(visible)]="accountDropdownVisible"
          ></app-account-dropdown>
        </ng-template>
      </div>
    </div>
  </div>
</div>
