@import 'variables';

.header {
  padding: 0;
  margin: auto;
  background-color: $input-background-color;
  width: 117rem;
  box-sizing: border-box;

  .navbar {
    position: relative;
    margin: 0;
    padding: 3rem;
    border-radius: 1.5rem;
    display: flex;

    .left-half {
      display: flex;
      margin-right: auto;
      left: 2rem;

      .logo {
        width: 119px;
        height: 58px;
        background-image: url('../../../assets/Images/logo1.png');
        background-repeat: no-repeat;
      }

      .l-item {
        display: relative;

        .nav-button {
          display: block;
          border-radius: 2rem;
          width: 100%;
          height: 100%;
          background-color: inherit;
          border: none;
          padding: 1.5rem;

          a {
            text-decoration: none;
            color: $input-background-text-color;
            font-size: 1.4rem;
          }

          i {
            color: $input-background-text-color;
          }
        }

        .nav-button:hover > a,
        i {
          cursor: pointer;
          color: $link-text-color__hover;
        }
      }
    }

    .right-half {
      display: flex;
      margin-left: auto;
      padding: 1rem 1rem;

      .r-item {
        display: block;
        text-align: center;
        height: 100%;

        .nav-button {
          display: block;
          border-radius: 2rem;
          width: 100%;
          height: 100%;
          background-color: inherit;
          border: none;
          padding: 1.5rem;

          a {
            text-decoration: none;
            color: $input-background-text-color;
            font-size: 1.4rem;
          }
        }
        .nav-button:hover > a {
          cursor: pointer;
          color: $link-text-color__hover !important;
        }

        #sign-up-button {
          background-color: $button-background-color !important;
        }
      }
    }
  }

  .search-bar {
    display: flex;
    text-align: left;
    width: 117rem;
    height: 5rem;
    background-color: $input-background-color;
    border: 4px solid black;

    #select-area {
      flex: 1;
      border: none;
      border-right: solid 0.1rem;
      color: $button-text-color;
      background-color: $input-background-color;

      &:focus {
        outline: none;
      }
    }

    .search-area {
      flex: 5;
      background-color: $input-background-color;

      ::ng-deep .search-input {
        border: none;
        width: 100%;

        * {
          font-size: 1.6rem;
          color: $input-background-text-color;
        }
      }
    }
  }
}
