$base-primary: #020d18;
$base-secondary: #0f2133;

$text-color: #fff;
$subtext-color: #abb7c4;

$link-text-color-1: #abb7c4;
$link-text-color-2: #4280bf;
$link-text-color__hover: #dcf836;
$link-text-color__active: #dcf836;

$input-background-color: #233a50;
$input-background-text-color: #abb7c4;

$button-background-color: #dd003f;
$button-text-color: #ffffff;
$button-text-color__hover: #000;
