@import 'variables';

.admin-wrapper {
  background: $base-primary;
  min-height: 100vh;

  .admin-body {
    display: flex;

    .side-menu {
      flex: 1;
    }

    .content {
      flex: 7;
      padding: 1.6rem;
      min-height: 85vh;
      background: $base-secondary;
    }
  }
}
