@font-face{font-family: "Dosis"; src: local("Dosis"), url(./assets/Fonts/Dosis/Dosis-VariableFont_wght.ttf),format("truetype");}
@font-face{font-family: "Nunito"; src: local("Nunito"), url(./assets/Fonts/Nunito/Nunito-VariableFont_wght.ttf),format("truetype");}
@import 'variables';


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: $link-text-color-1;
  text-decoration: none;

  &:hover {
    color: $link-text-color__hover;
  }
}
