@import 'variables';

.menu-wrapper {
  font-size: 1.6rem;

  .menu {
    display: flex;
    flex-direction: column;

    .nav-item {
      list-style-type: none;

      &.menu-open {
        .state-indicator {
          transform: rotate(-90deg);
        }

        .nav-treeview {
          max-height: none;
        }
      }

      .state-indicator {
        transition: transform 200ms ease-out;
      }

      .nav-link {
        display: flex;
        padding: 0.8rem 0.8rem 0.8rem 1.6rem;
        align-items: center;

        &.active {
          color: $link-text-color__active;
        }

        p {
          display: flex;
          justify-content: space-between;
          margin-left: 0.8rem;
          flex-grow: 1;
        }
      }

      .nav-treeview {
        max-height: 0;
        padding-left: 1.6rem;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
    }
  }
}
